<header>
  <nav class="navbar">
    <nav class="navbar">
      <a class="navbar-brand" href="/explore">
        <i class="fa fa-paw" aria-hidden="true"></i>
        FURiends
      </a>
    </nav>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="/explore" class="btn btn-succes" id="log">Explore</a>
        <a href="/users/logout" class="btn btn-success" id="log">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>


<div container>
  <div class="jumbotron" id=userInfo>
    <div>
      <h1 class="display-4" id="othersName"> Hello <%= user.userName %>!</h1>
      <div id=></div>
      <div id=wrapper>
        <p id="userSpecies">Sphinx</p>
        <p id="userBreed">cat</p>
        <p id="userLocation">Orlando</p>

        <button type="button" id="updateButton" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
          Upload new image
        </button>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div id="container">
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/index.js"></script>