.list-group-item {
    line-height: 2.5;
  }
  
header{
  background: darkturquoise;
}

#login{
  background: tomato;

}

#register{
  background: tomato;
}

  #container {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
  }
  
  .bg-modal{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: o;
  display: none;
  justify-content: center;
  align-items: center;
  }
  
  .modal-contents{
    height: 350px;
    width: 500px;
    background: white;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 4px;
  }
  input{
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
  
  .close{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor:pointer;
     &:hover {
        color: #666;
    }
  }
  
  .modal{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: o;
    display: none;
    justify-content: center;
    align-items: center;
    }
  .modal-content{
    height: 220px;
    width: 500px;
    background: white;
    text-align: center;
    padding: 20px;
    position: relative;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
    border-radius: 4px;
    }
  
  .cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
  }
  .box {
    margin-bottom: 20px;
  }
  .box.one {
    height: 250px;
    background-color: #d77575;
  }
  .box.two {
    height: 300px;
    background-color: #dcbc4c;
  }
  .box.three {
    background-color: #a3ca3b;
    height: 400px;
  }
  .box.four {
    background-color: #3daee3;
    height: 500px;
  }
  .box.five {
    background-color: #bb8ed8;
    height: 500px;
  }
  .box.six {
    background-color: #baafb1;
    height: 200px;